@model SaveCustomerViewModel

<h3 class="alert alert-success >Müşteri Ekle</h3>

@*<form asp-controller="Customer" asp-action="SaveCustomer">
    ID = <input asp-for="Customer.Id" /><br />
    First NAme =<input asp-for="Customer.FirstName" /><br />
    Last NAme = <input asp-for="Customer.LastName" /><br />
    City = <select asp-for="Customer.City" asp-items="Model.Cities" />
</form>*@

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}

